dagster==1.13.25
dagster-webserver==1.13.25
dagster-k8s==0.29.25
dagster-postgres==0.29.25
dbt-core==1.10.15
dbt-trino==1.9.3
dlt[duckdb]==1.17.1
pyiceberg[pyarrow]==0.10.0
pyarrow==21.0.0
duckdb==1.4.1
PyYAML==6.0.3
